# deps
node_modules

# build
dist
dist-ssr

# env
.env
.env.*
!.env.example

# vite / editor
*.local
.vite

# system
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ide
.vscode/*
!.vscode/settings.json.example
.idea
